<div class="col-xs-10 col-xs-offset-1" about>
	<h1>About The Twainerator</h1>

	<p>
		The Twainerator was built by <a target="_blank" href="https://github.com/buddhaplex">Eric Andrade</a>, a fledgling developer with a long history in managing technology-driven marketing solutions for many clients. 
	</p>
		<p>
			Eric is an avid reader, and a huge fan of Mark Twain's witticisms and insights. He's sharing some of his favorite Mark Twain quotes here, but also looking for you to share yours, if you don't see one that you particularly like. 
		</p>
		<p>
			If you want to know more about Eric, you can visit his <a target="_blank" href="http://www.ericandrade.com">website here</a>.
		</p>
		<br />

		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'eric.jpg', :class => 'img-responsive' %>
		</div>

		<div class="col-xs-12 col-sm-7 col-sm-offset-1">
			<h2 class="text-center">Eric Andrade</h2>
			<br />
			<p>
				Eric Andrade is an agency operations executive, web developer, and product manager. Over the course of his career, he has worked as a copywriter, producer, user experience professional, client service lead, and business strategy professional. In 2014, he led the production and development of Samsung CenterStage, an innovative digital at retail installation that has since won two prestigious Advertising awards: The One Show, and a Cannes Lion. You can find out more about the <a target="_blank" href="http://www.ericandrade.com/work#/samsung-centerstage/">project here</a>.
			</p>
		</div>
		<br class="clear" />
		<br />
		<br />
		<br />
		<br />


</div>